.reset-section {
  display: flex;
  justify-content: center;
  margin: 20px 5px;
  height: 100vh;
}

.reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.error-message-container {
  color: red;
  padding: 5px 10px;
}

@media (max-width: 767px) {
  .password-changed-modal {
    width: 90vw;
  }
}
